@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

/* Constants */
:root {
  --primary-color: rgb(255, 204, 1);
  --primary-font-color: rgba(0,0,0,0.5);
  --grey: rgba(0,0,0,0.1);
}

body {
  width: 500px;
  height: 280px;
  /* font-family: "Roboto", arial, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--primary-font-color);
}
 
/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey); 
  border-radius: 1px;
}

input {
  width: 90%;
  padding: 3px;
  border: 1px solid gainsboro;
  border-radius: 3px;
}

/* ======= USER WRAPPER ======= */

.user-wrapper {
  padding: 12px 20px 0px 20px;
  text-align: right;
}

.btn-logout {
  border: 0;
  background: none;
}
.btn-logout:hover {
  cursor: pointer;
}

/* ======= COMMON CSS ======= */

.btn {
  background: white;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(../../public/assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.common-wrapper {
  background: #ffffff;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px var(--grey);
}

/* ======= LOGIN WRAPPER ======= */

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  cursor: pointer;
}

.google-button:hover {
  box-shadow: 1px 4px 5px 1px var(--grey);
}

.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button-text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
}

.google-button-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

/* ======= ROOMS WRAPPER ======= */

.room-wrapper {
  
}

.button-wrapper {
  background: #ffffff;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px var(--grey);
  font-size: 15px;
  font-weight: 700;
  color: rgba(0,0,0,0.5);
  transition: 0.1s ease;
}

.button-wrapper:hover {
  cursor: pointer;
  box-shadow: 1px 4px 5px 1px var(--grey);
  transition: 0.2s ease;
}

.button-icon {
  float: right;
  color: var(--primary-color);
  font-size: 18px;
}

.title-wrapper {
  padding: 7px 10px;
  border-bottom: 1px solid var(--grey);
}

.title-wrapper span {
  font-size: 15px;
  color: rgba(0,0,0,0.5);
  display: block;
  padding: 7px;
  font-weight: 700;
}

.rooms-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: hidden;
  max-height: 150px;
  font-size: 13px;
}

.rooms-list:hover {
  overflow-y: scroll;
}

.rooms-list li {
  padding: 16px;
  color: rgba(0,0,0,0.4);
  border-bottom: 1px solid var(--grey);  
  transition: 0.1s ease;
}

.rooms-list li:hover {
  cursor: pointer;
  transition: 0.1s ease;
}

.rooms-list li:hover .fa-icon-play {
  color: var(--primary-color);
}
.fa-icon-play {
  margin-right: 15px;
  font-size: 15px;
}

/* ======= DASH WRAPPER ======= */

.dash-wrapper {
  
}

.dash-title-bar {
  margin: 7px 0px 20px 0px;
  padding: 25px 25px 5px 25px;
}

.room-name {
  font-size: 22px;
}

.dash-buttons {
  float: right;
  display: block;
  padding-top: 6px;
}

.dash-buttons span {
  margin: 5px;
  background: var(--primary-color);
  color: white;
  padding: 7px 10px;
  border-radius: 50%;
}

.dash-buttons span:hover {
  cursor: pointer;
}

.form-wrapper {
  padding: 0px 25px;
}

.song-input {
  width: 95%;
  border: none;
  background: rgba(94,94,94,0.1);
  padding: 10px;
}


.song-input::placeholder {
  color: rgba(0,0,0,0.4);
}

.now-playing-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0px 25px;
}

.now-playing-img {
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.now-playing-info {
  display: block;
  font-style: italic;
  color: rgba(0,0,0,0.3);
  font-weight: 100;
}

.now-playing-title {
  display: block;
  font-size: 15px;
  margin-top: 5px;
  color: rgba(0,0,0,0.4);
}

.view-playlist-button:hover {
  cursor: pointer;
}

.view-playlist-button span {
  display: block;
  padding: 15px 25px;
  font-size: 14px;
  border-top: 1px solid var(--grey);
  margin-top: 15px;
}

.playlist-icon {
  float: right;
  color: var(--primary-color);
}