body {
  min-width: 400px;
  min-height: 200px;
  font-family: "Roboto", arial, sans-serif;
  margin: 0;
  padding: 0;
}

input {
  width: 90%;
  padding: 3px;
  border: 1px solid gainsboro;
  border-radius: 3px;
}

/* ======= COMMON CSS ======= */

.btn {
  background: white;
  border: 1px solid gainsboro;
  border-radius: 4px;
}

/* ======= LOGIN WRAPPER ======= */

.login-wrapper {
  min-width: 400px;
  min-height: 200px;
  background-image: url(../../public/assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  line-height: 170px;
}

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  cursor: pointer;
}

.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.google-button-text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
}

.google-button-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
